.failedNumber {
    font-size: var(--vscode-font-size);
    font-weight: 900;
}

.fail {
    color: var(--vscode-notebookStatusErrorIcon-foreground);
    font-size: var(--vscode-font-size);
    width: 80px;
}

.pass {
    color: var(--vscode-notebookStatusSuccessIcon-foreground);
    font-size: var(--vscode-font-size);
    width: 80px;
}

.check {
    display: flex;
    margin: 6px 0;
}

.testName {
    width: 240px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.testTime {
    color: var(--vscode-testing-message\.info\.decorationForeground);
}

.testMsg {
    text-decoration: underline;
    cursor: help;
}
